{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- start page title -->
<div dir="rtl" class="modal fade bd-example-modal-xl" tabindex="-1" id="edit_student" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content card card-body" id="edit_student_body">
            <hr>
            <form class="needs-validation fs-5" id="mainForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div style="border: 1px solid grey;border-radius: 5px;display: flex; justify-content: center; align-items: center; height: 200px;"
                        class="col-2">

                        <img id="preview-img" style="max-width: 100%; height: auto;object-fit: contain;"
                            src="{% static " images/student-im.png" %}">
                    </div>
                    <div class="col-10">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3 position-relative">
                                    <label class="form-label" for="image">الصورة</label>
                                    <input type="file" class="form-control fs-4" id="image" name="image"
                                        accept="image/*" onchange="previewImage(event)">
                                    <div class="valid-tooltip">
                                        بدون مشاكل!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="mb-3 position-relative">
                                    <label class="form-label" for="fullName">الاسم الكامل</label>
                                    <input type="text" class="form-control fs-5" id="fullName"
                                        value="{{studentDetail.fullName}}" name="fullName" placeholder="الاسم الكامل"
                                        required>
                                    <div class="valid-tooltip">
                                        بدون مشاكل!
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3 position-relative">
                                    <label class="form-label" for="gender">الجنس</label>
                                    <select class="form-select fs-4" id="gender" name="gender" required>
                                        {% if studentDetail.gender == "ذكر" %}
                                        <option selected value="ذكر">ذكر</option>
                                        <option value="أنثى">أنثى</option>
                                        {% else %}
                                        <option value="ذكر">ذكر</option>
                                        <option selected value="أنثى">أنثى</option>
                                        {% endif %}
                                    </select>
                                    <div class="valid-tooltip">
                                        بدون مشاكل!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3 position-relative">
                                    <label class="form-label" for="parentName">اسم ولي الأمر</label>
                                    <input type="text" class="form-control fs-5" id="parentName"
                                        value="{{studentDetail.parentName}}" name="parentName"
                                        placeholder="اسم ولي الأمر">
                                    <div class="valid-tooltip">
                                        بدون مشاكل!
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 position-relative">
                                    <label class="form-label" for="parentNum">رقم هاتف ولي الأمر</label>
                                    <input type="text" class="form-control fs-5" id="parentNum"
                                        value="{{studentDetail.parentNum}}" name="parentNum"
                                        placeholder="رقم هاتف ولي الأمر">
                                    <div class="valid-tooltip">
                                        بدون مشاكل!
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>




                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3 position-relative">
                            <label class="form-label" for="living"> السكن : المذينة </label>
                            <input type="text" placeholder=" المذينه" class="form-control fs-5" id="living"
                                value="{{studentDetail.living}}" name="living">
                            <div class="valid-tooltip">
                                بدون مشاكل!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3 position-relative">
                            <label class="form-label" for="motherName">إسم الأم </label>
                            <input type="text" placeholder="إسم الأم" class="form-control fs-5" id="motherName"
                                value="{{studentDetail.motherName}}" name="motherName">
                            <div class="valid-tooltip">
                                بدون مشاكل!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3 position-relative">
                            <label class="form-label" for="studentClasse">المسنوي الدراسي</label>
                            <select class="form-control fs-5" id="studentClasse" name="studentClasse" required>
                                {% for classe in classes %}
                                <option value="{{ classe.pk }}">{{ classe.name }}</option>
                                {% endfor %}
                                <option selected value="{{studentDetail.pk}}">{{studentDetail.studentClasse}}</option>
                            </select>
                            <div class="valid-tooltip">
                                بدون مشاكل!
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3 position-relative">
                            <label class="form-label" for="placeOfBirth">مكان الميلاد</label>
                            <input type="text" placeholder="مكان الميلاد" value="{{studentDetail.placeOfBirth}}"
                                class="form-control fs-5" id="placeOfBirth" name="placeOfBirth">
                            <div class="valid-tooltip">
                                بدون مشاكل!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3 position-relative">
                            <label class="form-label" for="dateOfBirth">تاريخ الميلاد</label>
                            <input type="date" class="form-control fs-5" id="dateOfBirth"
                                value="{{studentDetail.dateOfBirth}}" name="dateOfBirth">
                            <div class="valid-tooltip">
                                بدون مشاكل!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3 position-relative">
                            <label class="form-label" for="registredDate">تاريخ التسجيل</label>
                            <input type="date" class="form-control fs-5" id="registredDate"
                                value="{{studentDetail.registredDate}}" name="registredDate">
                            <div class="valid-tooltip">
                                بدون مشاكل!
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <div dir="ltr" id="submittingDiv">
                    <button class="btn btn-primary fs-4" type="submit">إرسال النموذج</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div dir="rtl" style="font-family: 'Lateef', serif;font-size: large;" class="row">


    <div class="col-xl-12">
        <div class="card">
            <div class="card-header" style="background-color: rgb(50, 46, 46); color: white;">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 class="modal-title" id="myLargeModalLabel">معلومات هذا المعلم</h1>

                    <!-- <button class="btn btn-primary fs-4" onclick="showEditModal()" type="button"> تعديل الطالب</button> -->
                </div>
            </div>
            <div class="card-body">
                <!-- Rest of the modal content -->

                <div id="profile-chart" class="apex-charts"></div>
                <form class="needs-validation fs-3" id="mainForm" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div style="border: 1px solid grey;border-radius: 5px;display: flex; justify-content: center; align-items: center; height: 200px;"
                            class="col-2">
                            {% if teacherDetail.image %}
                            <img id="preview-img" style="max-width: 100%; height: auto;object-fit: contain;"
                                src="{{teacherDetail.image.url}}">
                            {% else %}
                            <img id="preview-img" style="max-width: 100%; height: auto;object-fit: contain;"
                                src="{% static " images/student-im.png" %}">
                            {% endif %}
                        </div>
                        <div class="col-10">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="mb-3 position-relative">
                                        <label class="form-label" for="image">الصورة</label>
                                        <input type="file" class="form-control fs-4" id="image" name="image"
                                            accept="image/*" onchange="previewImage(event)">
                                        <div class="valid-tooltip">
                                            بدون مشاكل!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 position-relative">
                                        <label class="form-label" for="dateRegistred">تاريخ التسجيل</label>
                                        <input type="date" class="form-control fs-4" id="dateRegistred"
                                            name="dateRegistred">
                                        <div class="valid-tooltip">
                                            بدون مشاكل!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="mb-3 position-relative">
                                        <label class="form-label" for="name">الاسم الكامل</label>
                                        <input type="text" class="form-control fs-4" value="{{teacherDetail.name}}"
                                            id="name" name="name" placeholder="الاسم الكامل" required>
                                        <div class="valid-tooltip">
                                            بدون مشاكل!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 position-relative">
                                        <label class="form-label" for="gender">الجنس</label>
                                        <select class="form-select fs-4" id="gender" name="gender" required>
                                            {% if teacherDetail.gender == 'ذكر' %}
                                            <option selected value="ذكر">ذكر</option>
                                            <option value="أنثى">أنثى</option>
                                            {% else %}
                                            <option selected value="أنثى">أنثى</option>
                                            <option value="ذكر">ذكر</option>

                                            {% endif %}
                                        </select>
                                        <div class="valid-tooltip">
                                            بدون مشاكل!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3 position-relative">
                                        <label class="form-label" for="phone">رقم الهاتف</label>
                                        <input type="text" class="form-control fs-4" value="{{teacherDetail.phone}}"
                                            id="phone" name="phone" placeholder="رقم الهاتف">
                                        <div class="valid-tooltip">
                                            بدون مشاكل!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3 position-relative">
                                        <label class="form-label" for="title">اللقب</label>
                                        <input type="text" class="form-control fs-4" id="title"
                                            value="{{teacherDetail.title}}" name="title" placeholder="اللقب">
                                        <div class="valid-tooltip">
                                            بدون مشاكل!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3 position-relative">
                                        <label class="form-label" for="title">الفصول</label>
                                        
                                        <select class="select2 form-control select2-multiple fs-3"
                                            style="text-align: right;" multiple="multiple" multiple
                                            data-placeholder="أختر الفصول ..." id="educatingClasses"
                                            name="educatingClasses">
                                            {% for class in classes %}
                                            {% if class in teacherDetail.educatingClasses.all %}
                                            <option selected style="text-align: right;" value="{{class.pk}}">{{class}}
                                            </option>
                                            {% endif %}
                                            <option style="text-align: right;" value="{{class.pk}}">{{class}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="valid-tooltip">
                                            بدون مشاكل!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3 position-relative">
                                        <label class="form-label" for="phone">المواد </label>
                                        <select class="select2 form-control select2-multiple fs-3"
                                            style="text-align: right;" multiple="multiple" multiple
                                            data-placeholder="أختر المواد ..." id="educatingSubjects"
                                            name="educatingSubjects">
                                            {% for subject in subjects %}
                                            {% if teacherDetail.educatingSubjects.all in subject %}
                                            <option selected value="{{subject.pk}}">{{subject}}</option>
                                            {% else %}
                                            <option value="{{subject.pk}}">{{subject}}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                        <div class="valid-tooltip">
                                            بدون مشاكل!
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </form>
            </div>
        </div>




    </div>

    <hr>
    <div class="col-xl-12 col-md-12" dir="rtl" style="font-family: 'Lateef', serif;font-size: large;">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3 align-items-center">
                    <div class="col">
                        <h2> حطور المعلم </h2>
                    </div>

                </div>
                <table dir="rtl" class="table table-hover">
                    <thead id="examMarksThead" class="fs-3"
                        style="font-family: 'Lateef', serif;font-size: medium;background-color: black;color: #fff;">

                    </thead>
                    <tbody id="examMarksTbody">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    // make that takes id and list of objects and returns list of same id 
    function previewImage(event) {
        var input = event.target;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var previewImg = document.getElementById("preview-img");
                previewImg.src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    }





    document.getElementById('mainForm').addEventListener('submit', function (formEvent) {
        var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        formEvent.preventDefault();
        submittingDiv.innerHTML = `
        <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            جارٍ التسجيل...
        </button>
    `;
        var formData = new FormData(formEvent.target);

        fetch('/api/students/{{studentDetail.pk}}/', {
            method: 'PATCH',
            body: formData,
            headers: {
                'X-CSRFToken': csrfToken
            },
            redirect: 'follow'
        })
            .then(function (response) {
                if (response.ok) {
                    // success alert
                    swal("الصف", "تم إنشاء الطالب بنجاح!", "success");
                    location.reload()
                } else {
                    swal("خطأ", "فشل في إنشاء الطالب.", "error");
                }
                // Handle response
                console.log(response);
            })
            .catch(function (error) {
                // Handle error
                console.error(error);
            })
            .finally(function () {
                submittingDiv.innerHTML = `
                <button type="submit" class="btn btn-primary">تسجيل</button>
            `;
            });
    });

</script>
{% endblock %}