{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- start page title -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" id="edit_academic_year" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content card card-body" id="edit_academic_year_body">

        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-sm-6">
        <div class="page-title-box">
            <h4>Dashboard</h4>
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Lexa</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="state-information d-none d-sm-block">
            <div class="state-graph">
                <div id="header-chart-1" data-colors='["--bs-primary"]'></div>
                <div class="info">Balance $ 2,317</div>
            </div>
            <div class="state-graph">
                <div id="header-chart-2" data-colors='["--bs-info"]'></div>
                <div class="info">Item Sold 1230</div>
            </div>
        </div>
    </div>
</div> -->
<!-- end page title -->


<div dir="rtl" style="font-family: 'Lateef', serif;font-size: large;"  class="row">
    <div class="col-xl-5 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3 align-items-center">
                    <div class="col">
                        <h2>تسجيل عام دراسي جديدة</h2>
                    </div>
                </div>
                <hr>
                <form class="needs-validation" id="mainForm"> {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3 position-relative">
                                <label class="form-label" for="fromDate">تاريخ البدء</label>
                                <input type="text" class="form-control" id="fromDate" name="fromDate" placeholder="كما في الاستمارة"
                                    required>
                                <div class="valid-tooltip">
                                    تمام!
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 position-relative">
                                <label class="form-label" for="toDate">تاريخ الانتهاء</label>
                                <input type="text" class="form-control" id="toDate" name="toDate" placeholder="كما في الاستمارة" required>
                                <div class="valid-tooltip">
                                    تمام!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3 position-relative">
                                <label class="form-label" for="desc">الوصف</label>
                                <textarea class="form-control" id="desc" name="desc" placeholder="الوصف"
                                    required></textarea>
                                <div class="invalid-tooltip">
                                    يُرجى تقديم وصف صحيح.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="submitingDiv">
                        <button class="btn btn-primary" type="submit">سجل</button>
                    </div>
                </form>
                <div role="alert" aria-live="assertive" aria-atomic="true" class="toast shwo" data-autohide="false">
                    <div class="toast-header">
                        <img src="..." class="rounded mr-2" alt="...">
                        <strong class="mr-auto">Bootstrap</strong>
                        <small>قبل 11 دقيقة</small>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-7 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-0 align-items-center">
                    <div class="col">
                        <h5>جميع الطلاب</h5>
                    </div>
                </div>
                <table class="table">
                    <thead style="background-color: black;color: white;">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">تاريخ البدء</th>
                            <th scope="col">تاريخ الانتهاء</th>
                            <th scope="col">الوصف</th>
                            <th scope="col">الإجراء</th>
                        </tr>
                    </thead>
                    <tbody id="academic_years_body">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<script>
var submitingDiv = document.getElementById("submitingDiv");
    var academic_years_body = document.getElementById("academic_years_body");

    var allAcademicYears = [];

    function ready(callback) {
        if (document.readyState === 'complete' || document.readyState === 'interactive') {
            // Document is already ready or in the process of loading
            callback();
        } else {
            document.addEventListener('DOMContentLoaded', callback);
        }
    }

    // Usage
    ready(function () {
        // Your code to be executed when the document is ready
        get_academic_years();
    });

    function get_academic_years() {
        academic_years_body.innerHTML = `
            <tr>
                <th scope="row">-</th>
                <td>
                    <div class="" style="background-color: grey;height: 4px;"></div>
                </td>
                <td>
                    <div class="" style="background-color: grey;height: 3px;"></div>
                </td>
                <td>
                    <div class="" style="background-color: grey;height: 3px;"></div>
                </td>
                <td>
                    <div class="" style="background-color: grey;height: 3px;"></div>
                </td>
            </tr>
            <tr>
                <th scope="row">-</th>
                <td>
                    <div class="" style="background-color: grey;height: 4px;"></div>
                </td>
                <td>
                    <div class="" style="background-color: grey;height: 3px;"></div>
                </td>
                <td>
                    <div class="" style="background-color: grey;height: 3px;"></div>
                </td>
                <td>
                    <div class="" style="background-color: grey;height: 3px;"></div>
                </td>
            </tr>
            <tr>
                <th scope="row">-</th>
                <td>
                    <div class="" style="background-color: grey;height: 4px;"></div>
                </td>
                <td>
                    <div class="" style="background-color: grey;height: 3px;"></div>
                </td>
                <td>
                    <div class="" style="background-color: grey;height: 3px;"></div>
                </td>
                <td>
                    <div class="" style="background-color: grey;height: 3px;"></div>
                </td>
            </tr>
        `;

        fetch('/api/academic-years/', { method: 'GET' })
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                allAcademicYears = data;
                academic_years_body.innerHTML = '';
                for (var academicYear of data) {
                    academic_years_body.innerHTML += `
                        <tr>
                            <th scope="row">${academicYear.id}</th>
                            <td>${academicYear.fromDate}</td>
                            <td>${academicYear.toDate}</td>
                            <td>${academicYear.desc}</td>
                            <td>
                                <div onclick="edit_academic_year(${academicYear.id})" class="btn btn-dark btn-sm btn-hover">
                                    <i class="mdi mdi-pencil"></i>
                                </div>
                                <div onclick="delete_academic_year(${academicYear.id})" class="btn btn-danger text-white btn-sm btn-hover">
                                    <i class="mdi mdi-delete"></i>
                                </div>
                            </td>
                        </tr>
                    `;
                }
            });
    }


    function edit_academic_year(academic_year_id) {
    var academic_year = allAcademicYears.find(year => year.id === academic_year_id);

    edit_academic_year_body.innerHTML = `
        <h6>WAX KA-BADDALIDDA SANAD-DUGSIYEEDKA</h6>
        <hr>
        <form method="post" id="mainForm2">
            <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3 position-relative">
                                <label class="form-label" for="fromDate">From Date</label>
                                <input type="text" class="form-control" id="fromDate" name="fromDate" value="${academic_year.fromDate}" placeholder="Ka- Bilaawda"
                                    required>
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 position-relative">
                                <label class="form-label" for="toDate">To Date</label>
                                <input type="text" class="form-control" id="toDate" placeholder="Ku eg" name="toDate" value="${academic_year.toDate}" required>
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3 position-relative">
                                <label class="form-label" for="desc">Description</label>
                                <textarea class="form-control" id="desc" name="desc" placeholder="Description"
                                    required>${academic_year.desc}</textarea>
                                <div class="invalid-tooltip">
                                    Please provide a valid description.
                                </div>
                            </div>
                        </div>

                    </div>
            <div id="submittingDiv2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    `;

    $('#edit_academic_year').modal('show');
    document.getElementById('mainForm2').addEventListener('submit', function (formEvent) {
        formEvent.preventDefault();
        var submittingDiv = document.getElementById("submittingDiv2");
        submittingDiv.innerHTML = `
            <button class="btn btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Updating...
            </button>
        `;
        var formData = new FormData(formEvent.target);


        fetch(`/api/academic-years/${academic_year_id}/`, {
            method: 'PATCH', // or 'PATCH' if partial update is desired
            body: formData,
            redirect: 'follow'
        })
        .then(function (response) {
            if (response.ok) {
                // success alert
                get_academic_years();
                swal("Academic Year Updated", "The academic year has been successfully updated.", "success");
                $('#edit_academic_year').modal('hide');
            } else {
                swal("Error", "Failed to update the academic year.", "error");
            }
            // Handle response
        })
        .catch(function (error) {
            // Handle error
        })
        .finally(function (response) {
            submittingDiv.innerHTML = `
                <button type="submit" class="btn btn-primary">Submit</button>
            `;
        });
    });
}
    function delete_academic_year(academic_year_id) {
        swal({
            title: "Are you sure?",
            text: `Are you sure you want to delete the academic year with ID ${academic_year_id}?`,
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                fetch(`/api/academic-years/${academic_year_id}/`, {
                    method: 'DELETE',
                })
                    .then(function (response) {
                        if (response.ok) {
                            // success alert
                            get_academic_years();
                            swal("Deleted!", "The academic year has been successfully deleted.", "success");
                        } else {
                            swal("Error", "Failed to delete the academic year.", "error");
                        }
                        // Handle response
                        console.log(response);
                    })
                    .catch(function (error) {
                        // Handle error
                        console.error(error);
                    });
            }
        });
    }
    document.getElementById('mainForm').addEventListener('submit', function (formEvent) {
        formEvent.preventDefault();
        submitingDiv.innerHTML = `
        <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            registering...
        </button>
    `;
        var formData = new FormData(formEvent.target);

        fetch('/api/academic-years/', {
            method: 'POST',
            body: formData,
            redirect: 'follow'
        })
            .then(function (response) {
                
                if (response.ok) {
                    // success alert
                    get_academic_years();
                    swal("Academic Year", "Academic year was successfully created!", "success");
                } else {
                    swal("Error", "Failed to create the academic year.", "error");
                }
                // Handle response
                console.log(response);
            })
            .catch(function (error) {
                // Handle error
                console.error(error);
            })
            .finally(function () {
                submitingDiv.innerHTML = `
            <button type="submit" class="btn btn-primary">Submit</button>
        `;
            });
    });
</script>
{% endblock %}